.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both; }

.float-l {
  float: left; }

.float-r {
  float: right; }

body {
  font-size: 62.5%;
  color: #73645d; }
  body div.ui-content {
    font-size: 1.4em;
    color: #73645d !important; }
    body div.ui-content ol, body div.ui-content ul {
      list-style: none;
      margin: 10px 0;
      padding: 0; }
      body div.ui-content ol li, body div.ui-content ul li {
        padding-left: 0;
        margin-left: 0; }
    body div.ui-content h1, body div.ui-content h2, body div.ui-content h3 {
      color: #73645d;
      font-size: 1.3em; }
    body div.ui-content h1, body div.ui-content h2 {
      margin: 0 0 0.5em 0;
      padding-top: 0.5em;
      border-top: 0.4em solid;
      border-color: #73645d;
      clear: both; }
  body div.ui-footer {
    background: #969590;
    font-size: 1.4em; }
    body div.ui-footer ol, body div.ui-footer ul {
      list-style: none;
      margin: 10px 0;
      padding: 0; }
      body div.ui-footer ol li, body div.ui-footer ul li {
        margin: 0 0 10px 0;
        padding-left: 0; }
        body div.ui-footer ol li a, body div.ui-footer ul li a {
          color: white !important;
          text-decoration: none;
          text-shadow: none; }
          body div.ui-footer ol li a:hover, body div.ui-footer ul li a:hover {
            text-decoration: underline; }

/* jquery mobile font-size over-ride */
.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6,
.ui-header .ui-title, .ui-footer .ui-title,
.ui-navbar li .ui-btn, .ui-navbar .ui-navbar-toggle .ui-btn,
.ui-navbar-expanded .ui-btn,
.ui-mini .ui-btn-inner,
.ui-header .ui-btn-inner,
.ui-footer .ui-btn-inner,
.ui-mini .ui-btn-inner,
.ui-header .ui-fullsize .ui-btn-inner,
.ui-footer .ui-fullsize .ui-btn-inner,
.ui-btn-hidden,
.ui-collapsible-heading,
.ui-controlgroup-label,
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label,
label.ui-select,
label.ui-input-text, input.ui-input-text, textarea.ui-input-text,
input.ui-mini, .ui-mini input,
.ui-li-divider, .ui-li-static,
ol.ui-listview .ui-link-inherit:before, ol.ui-listview .ui-li-static:before, .ui-li-dec,
.ui-li-heading,
.ui-li-desc,
.ui-li-has-count .ui-li-count,
label.ui-slider {
  font-size: inherit !important; }

/* jquery mobile layout over-rides */
.ui-header {
  padding: 15px; }
  .ui-header .img-wrapper {
    width: 50%; }

.ui-content {
  padding: 0 15px 15px 15px; }
  .ui-content .ui-listview-filter {
    margin: 0; }

.ui-footer {
  padding: 15px;
  border: none; }

.ui-selectmenu .ui-selectmenu-list .ui-btn-text a {
  font-size: 1.4em; }

.ui-grid-a .ui-block-a {
  width: 65%;
  padding-right: 5%; }
.ui-grid-a .ui-block-b {
  width: 30%; }

/* Listview over-rides */
.search-result-list .ui-li-has-thumb {
  padding-left: 20px; }

.search-result-list .charity-text p.ui-li-desc {
  margin: 0.25em 0 0.25em; }

.search-result-list .charity-logo img {
  max-width: 90px;
  max-height: 90px; }

/* page specific over-rides */
/* JG HOME */
#iphoneApp .feature img,
#androidApp .feature img {
  padding: 0 10px 10px 0; }

/* frp */
#about #readMoreStoryLink {
  display: none; }

#about .pseudo-link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold; }

/* choose an amount */
#amountSection input#amount {
  width: 85%; }

#amountSection .amount-label {
  float: left;
  width: auto;
  margin-right: 1em; }

/* saved cards */
@media all and (max-width: 449px) {
  #cardPaymentDetails #securityCode #cv2Code {
    width: 90%;
    display: inline; } }

/* Fundraising Page expired */
#pageExpired ul li {
  margin-left: 1em;
  list-style-type: disc; }

/* theme over-rides */
.ui-body-c .ui-link,
.ui-body-c .ui-link:hover,
.ui-body-c .ui-link:active,
.ui-body-c .ui-link:visited {
  color: #73645d; }

.ui-header.ui-bar-a {
  background: #e6e4de;
  color: #73645d;
  border: none; }

.ui-body-c, .ui-overlay-c {
  background: #e6e4de;
  text-shadow: none;
  color: #73645d;
  font-weight: normal; }
  .ui-body-c em.donor-name, .ui-overlay-c em.donor-name {
    font-weight: bold; }

.ui-body-c.ui-input-text, .ui-body-c.ui-icon-searchfield {
  background: white !important; }

.ui-body-c.ui-shadow-inset {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
  font-weight: normal;
  color: #73645d; }

.ui-btn {
  margin: 0 5px; }

/* b button overrides */
.ui-btn-up-b {
  border: 1px solid #5275ad;
  background: #5275ad;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px #044062;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#849bc4), to(#5275ad));
  background-image: -webkit-linear-gradient(#849bc4, #5275ad);
  background-image: -moz-linear-gradient(#849bc4, #5275ad);
  background-image: -ms-linear-gradient(#849bc4, #5275ad);
  background-image: -o-linear-gradient(#849bc4, #5275ad);
  background-image: linear-gradient(#849bc4, #5275ad); }

.ui-btn-up-b a.ui-link-inherit {
  color: white; }

.ui-btn-hover-b {
  border: 1px solid #5263ad;
  background: #5263ad;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px #014d68;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#818dc3), to(#5263ad));
  background-image: -webkit-linear-gradient(#818dc3, #5263ad);
  background-image: -moz-linear-gradient(#818dc3, #5263ad);
  background-image: -ms-linear-gradient(#818dc3, #5263ad);
  background-image: -o-linear-gradient(#818dc3, #5263ad);
  background-image: linear-gradient(#818dc3, #5263ad); }

.ui-btn-active {
  border: 1px solid #5275ad;
  background: #5275ad;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-shadow: 0 1px 1px #044062;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#849bc4), to(#5275ad));
  background-image: -webkit-linear-gradient(#849bc4, #5275ad);
  background-image: -moz-linear-gradient(#849bc4, #5275ad);
  background-image: -ms-linear-gradient(#849bc4, #5275ad);
  background-image: -o-linear-gradient(#849bc4, #5275ad);
  background-image: linear-gradient(#849bc4, #5275ad);
  font-family: Helvetica, Arial, sans-serif; }

.ui-btn-active a.ui-link-inherit {
  color: white; }

.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
  background-color: #5275ad; }

/* Donation Messaging */
.notice {
  margin-bottom: 1em; }

.notice.feature {
  padding: 8px 5px 8px 12px;
  margin-bottom: 10px; }
  .notice.feature p {
    margin: 0; }

.notice.positive {
  background: #c9edc1;
  border: 1px solid #63b153;
  color: #105402; }

.notice.negative {
  background: #fcdad9;
  border: 1px solid red;
  color: red; }

.notice.processing {
  background: #fef0e9;
  border: 1px solid #f27022;
  color: #ff6600; }

#errors {
  padding: 0 1em;
  background: #fcdad9;
  border: 1px solid red;
  color: red;
  margin-bottom: 1em; }

span.field-validation-error {
  color: red; }

.field-error {
  border: 2px solid red !important; }
